
.row{
  /*border: 1px solid;*/
  /*border-radius: 5px;*/
}

.bar:hover{
  fill:brown;
}

.axis--x path {
  display: none;
}

#states :hover{
  fill: red;
}

.state-borders {
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.application,
.keen-dashboard {
  background: #f2f2f2;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 60px 20px 0;
}

.application > .container-fluid,
.keen-dashboard > .container-fluid {
  margin: 0 0 32px;
  margin: 0 0 2rem;
  padding-left: 0;
  padding-right: 0;
}

.application div[class^="col-"],
.keen-dashboard div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.application div[class^="col-"] div[class^="col-"],
.keen-dashboard div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.application hr,
.keen-dashboard hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.application .navbar-inverse,
.keen-dashboard .navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}

.application .navbar-inverse .navbar-nav > li > a,
.application .navbar .navbar-brand,
.keen-dashboard .navbar-inverse .navbar-nav > li > a,
.keen-dashboard .navbar .navbar-brand {
  color: #fbfbfb;
  text-decoration: none;
}

.application .main-nav > li > a:hover,
.keen-dashboard .main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

.application .return-link,
.application .return-link:focus,
.application .return-link:hover,
.keen-dashboard .return-link,
.keen-dashboard .return-link:focus,
.keen-dashboard .return-link:hover {
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
}
